<html>
  <head>
    <title>{{ title }}</title>
    <script type="text/javascript">
      function focusOnPost(post_id){
        var elem = document.getElementById(post_id);
        location.href = "#";
        location.href = "#" + post_id;
        elem.style.backgroundColor = 'green';
        setTimeout(function(){ elem.style.backgroundColor = 'white';}, 2000);
      }
    </script>
  </head>
  <body>
    <div><a href="/index">Home</a></div>
    <center><h1>{{ title }}</h1></center>
    <hr>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
    {% for message in messages %}
        <li>{{ message }} </li>
    {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
    {% block content %}{% endblock %}
  </body>
</html>
