<html>
  <head>
    <title>{{ title }}</title>
    <script type="text/javascript">
      function focusOnPost(post_id){
        var elem = document.getElementById(post_id);
        location.href = "#";
        location.href = "#" + post_id;
        elem.style.backgroundColor = 'green';
        setTimeout(function(){ elem.style.backgroundColor = 'white';}, 2000);
      }
    </script>
  </head>
  <body bgcolor="#87cefa">
    <div style="display:block">
      <div style="display:inline;">
        <svg width="20" height="20">
          <rect width="20" height="20" style="fill:#f65314;stroke-width:0;stroke:rgb(0,0,0)" />
        </svg>
      </div>
      <div style="display:inline;">
        <svg width="20" height="20">
          <rect width="20" height="20" style="fill:#7cbb00;stroke-width:0;stroke:rgb(0,0,0)" />
        </svg>
      </div>
    </div>
    <div style="display:block">
      <div style="display:inline;">
        <svg width="20" height="20">
          <rect width="20" height="20" style="fill:#00a1f1;stroke-width:0;stroke:rgb(0,0,0)" />
        </svg>
      </div>
      <div style="display:inline;">
        <svg width="20" height="20">
          <rect width="20" height="20" style="fill:#ffbb00;stroke-width:0;stroke:rgb(0,0,0)" />
        </svg>
      </div>
    </div>
    <div><a href="/index">Home</a></div>
    <div><a href="https://microsoft.sharepoint.com/sites/LCAWeb/Home/Copyrights-Trademarks-and-Patents/Patents/Patent-FAQ" target="_blank">FAQs</a></div>
    <center><font color="#483d8b"><h1>{{ title }}</h1></font></center>
    <hr>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
    {% for message in messages %}
        <li>{{ message }} </li>
    {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
    {% block content %}{% endblock %}
  </body>
</html>
